@import 'reset';

// Palette
$dark-color: #106265;
$middle-color: #52AEB2;
$light-color: #07F3FE;
$white: #ffffff;

$alternative-dark-color: #65381B;
$alternative-light-color: #FFB381;

// Theme
$theme-color: $middle-color;

// Body
$body-background-color: $alternative-dark-color;

// Header
$header-text-color : $white;

// Bar
$bar-background-color: $white;
$bar-text-color: $dark-color;

// Lowlight
$lowlight-opacity: 0.7;

// Option
$option-title-color: $white;
$option-title-color-hover: $light-color;
$option-background-color: $dark-color;

// Size
$screen-width-treshhold: 500px;
$site-width: 950px;

body {
	margin: 0;
	padding: 0;
	background: $body-background-color;
	font-family: Verdana;
}

p {
	font-size: 12px;
	line-height: 15px;
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
}

a {
	text-decoration: none;
	color: $theme-color;
}

a:hover {
	text-decoration: underline;
}

.highlight {
	color: $theme-color;
	font-weight: bold;
}

.lowlight {
	opacity: $lowlight-opacity;
}

.container {
	text-align: center;
	max-width: $site-width; 
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

header {
	padding: 30px;

	@media screen and (max-width: 460px) {
		padding: 16px;
	}

	text-align: left;
	background: $theme-color;
	color: $header-text-color;

	.title {
		font-size: 42px;

		@media screen and (max-width: $screen-width-treshhold) {
			font-size: 25px;
		}
	}

	.description {
		padding-top: 10px;
		font-size: 18px;

		@media screen and (max-width: $screen-width-treshhold) {
			display: none;
		}
	}
}

.bar {
	padding: 4px;
	padding-right: 16px;
	background-color: $bar-background-color;
	color: $bar-text-color;
	font-size: 10px;
	text-align: right;

	ul {
		list-style-type: none;
		margin-top: 1em;
		margin-bottom: 1em;

		li {
			display: inline;
			white-space: nowrap;
			@media screen and (max-width: $screen-width-treshhold) {
				display: block;
			}
		}
	}
}

.narrow {
	@media screen and (max-width: $screen-width-treshhold) {
		display: inherit;
	}
	@media screen and (min-width: $screen-width-treshhold + 1) {
		display: none;
	}

}

.wide {
	@media screen and (max-width: $screen-width-treshhold) {
		display: none;
	}
	@media screen and (min-width: $screen-width-treshhold + 1) {
		display: inherit;
	}

}

.site-selection {

	display: table;
    table-layout: fixed;

    width: 100%;
    height: 200px;
	a {
		background-color: $option-background-color;

		font-size: 48px;
		text-decoration: none;

		text-align: center;
		vertical-align: middle;

		display: table-cell;
		width: 50%;
		height: 100%;

		@media screen and (max-width: $screen-width-treshhold) {
			display: table-row;
			width: 100%;
			height: 50%;
		}

		h1 {
			color: $option-title-color;
			text-align: center;
			vertical-align: middle;

			display: inline-block;

			@media screen and (max-width: $screen-width-treshhold) {
				display: table-cell;
			}
		}
	}


	a:hover {
		h1 {
			color: $option-title-color-hover;
		}
	}
}

h1 {
	font-size: 20px;
	color: $theme-color;
}
